@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body,
html {
  height: 100%;
}

#__next {
  @apply flex flex-col h-full;
}

.main {
  min-height: calc(100vh - 100px);
}

.data-table [role="columnheader"] {
  @apply text-sm font-medium text-gray-600 bg-gray-50 border-b-2 border-r-0 flex items-center;
}

.data-table [role="columnheader"] > span {
  @apply flex-1;
}

.data-table [role="columnheader"] span {
  @apply items-center;
}

.data-table [role="gridcell"] {
  @apply border-r-0 border-gray-200;
}

.rdg-header-sort-name + span {
  margin-left: 6px;
}
/* .url-styling {
  border-bottom-width: 2px;
  border-bottom-color: red;
  padding-bottom: 1px;
} */

.url-styling {
  position: relative; /* Required for positioning of the pseudo-element */
  display: inline-block; /* Ensures the element only takes as much width as needed */
  padding-bottom: 1px;
  border-bottom: 2px solid red; /* Default bottom border */
}

.url-styling::after {
  content: ''; /* Pseudo-element for the animated border line */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0); /* Initially hide the line */
  transform-origin: left; /* Start the animation from the left side */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.url-styling:hover {
  border-bottom: none; /* Hide the default border on hover */
}

.url-styling:hover::after {
  animation: borderMove 2s linear infinite; /* Apply the looping animation on hover */
}

@keyframes borderMove {
  0% {
    transform: scaleX(0); /* Start with the line hidden */
    transform-origin: left; /* Start from the left side */
  }
  50% {
    transform: scaleX(1); /* Expand the line to full width */
    transform-origin: left; /* Expanding from the left */
  }
  51% {
    transform: scaleX(1); /* Line is fully visible */
    transform-origin: right; /* Switch the origin to right */
  }
  100% {
    transform: scaleX(0); /* Collapse the line to hidden */
    transform-origin: right; /* Collapse towards the right */
  }
}


.drawer {
  box-shadow: 0 0 0 1px rgba(107, 144, 192, 0.15),
    0 4px 8px rgba(89, 97, 104, 0.15), 0 6px 24px 10px rgba(89, 97, 104, 0.2);
}

.SolarSystem .st0 {
  fill: #6d6e71;
}

.SolarSystem .st1 {
  fill: #231f20;
}

.SolarSystem .st2 {
  fill: #58595b;
}

.SolarSystem .st3 {
  fill: #1a96d4;
}

.SolarSystem .st4 {
  fill: #fac313;
}

.SolarSystem .st5 {
  fill: #f26a2b;
}

.SolarSystem .st6 {
  fill: #5bba47;
}

.SolarSystem .st7 {
  fill: #0569b1;
}

.SolarSystem .st8 {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 0.2083;
  stroke-miterlimit: 10;
}

.SolarSystem .st9 {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.SolarSystem .st10 {
  fill: #ffffff;
}

.SolarSystem .st11 {
  fill: #ffffff;
  stroke: #f26a2b;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.SolarSystem .st12 {
  fill: #ffffff;
  stroke: #f26a2b;
  stroke-width: 0.425;
  stroke-miterlimit: 10;
}

.SolarSystem .st13 {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 0.245;
  stroke-miterlimit: 10;
}

.SolarSystem .st14 {
  fill: none;
}

.aspect-video div iframe {
  width: 100%;
}

.dt-framework {
  height: inherit;
  width: 100%;
  overflow: unset;
}

@media (max-width: 710px) {
  .rainbow text {
    font-size: 9px;
    line-height: 1;
  }

  .rainbow h3.text-2xl.font-bold.pointer-events-none {
    font-size: 1.3em;
    margin-top: 8em;
  }

  .rainbow h3.text-2xl.font-semibold.pointer-events-auto {
    font-size: 18px;
    line-height: 1;
  }

  .rainbow p.mt-4.font-semibold.text-xl.pointer-events-none {
    margin: 10px -9vw;
    font-size: 1em;
  }

  .rainbow p.leading-5.mt-1.font-light.tracking-\[0\.01em\] {
    margin: 0 -16vw;
  }
}

.cookie-bg-color {
  background-color: #0063ac;
}

.dp-text-color {
  color: #484848;
}

.hero-title-size {
  font-size: 55px;
  line-height: 3rem;
}

.button-bg-color {
  background-color: #3288ce;
}

.heading-title-size {
  font-size: 45px;
  line-height: 3rem;
}

.hero-content-text-size {
  font-size: 20px;
  line-height: 1.75rem;
  line-height: 1.75rem;
}

.hero-content-text-color {
  color: #000000;
}

.footer-background-color {
  background-color: #006eb5;
}

.MobileMenuSideMenu {
  background-color: #f0f3f6;
}

@media (max-width: 770px) {
  .rainbow-margin {
    margin-left: 16%;
  }
}

@media (max-width: 400px) {
  .rainbow-margin {
    margin-left: 5%;
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 300px) and (max-width: 770px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 770px) and (max-width: 800px) {
  .container {
    max-width: 100%;
  }
}

.custom-mobile-bg-color {
  background-color: #d9e7f0eb;
}

.custom-mobile-menu {
  /* Custom slide-in animation from left to right */
  animation: slide-in-left 0.6s ease-in-out forwards;
}

.custom-mobile-close-menu {
  /* Custom slide-in animation from left to right */
  animation: slide-out-left 0.6s ease-in-out forwards;
}

.custom-side-view {
  /* Custom slide-in animation from right to left */
  animation: slide-in-left 0.6s ease-in-out forwards;
}

.custom-side-view-close {
  /* Custom slide-out animation from right to left */
  animation: slide-out-left 0.6s ease-in-out forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@font-face {
  font-family: "SohneBreitFont";
  src: url("/fonts/soehne-breit-web-dreiviertelfett.woff2") format("woff2"),
    url("/fonts/soehne-breit-web-dreiviertelfett.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 640px) {
  .heading-mobile-title-size {
    font-size: 30px;
    line-height: 3rem;
  }
}

@media (min-width: 300px) and (max-width: 640px) {
  /* .sideLink {
    
  } */
}

@media (min-width: 640px) and (max-width: 991px) {
  .sideLink {
    width: 100px;
    padding-left: 50px;
    padding-top: 13rem /* 208px */;
    padding-bottom: 13rem /* 208px */;
  }
  .viewMenu {
    display: none;
  }
}

@media (min-width: 990px) and (max-width: 1500px) {
  .sideLink {
    width: 200px;
    padding-left: 80px;
    padding-top: 13rem /* 208px */;
    padding-bottom: 13rem /* 208px */;
  }
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .sideLink {
    width: 21%;
    padding-left: 90px;
    padding-top: 22rem;
    padding-bottom: 13rem;
  }
}

@media (min-width: 1700px) {
  .sideLink {
    width: 24%;
    padding-left: 130px;
    padding-top: 22rem;
    padding-bottom: 13rem;
  }
}
