@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body,
html {
  height: 100%;
}

p {
  line-height: 1.4;
}

#__next {
  @apply flex flex-col h-full;
}

.main {
  min-height: calc(100vh - 100px);
}

.data-table [role="columnheader"] {
  @apply text-sm font-medium text-gray-600 bg-gray-50 border-b-2 border-r-0 flex items-center;
}

.data-table [role="columnheader"] > span {
  @apply flex-1;
}

.data-table [role="columnheader"] span {
  @apply items-center;
}

.data-table [role="gridcell"] {
  @apply border-r-0 border-gray-200;
}

.rdg-header-sort-name + span {
  margin-left: 6px;
}
/* .url-styling {
  border-bottom-width: 2px;
  border-bottom-color: red;
  padding-bottom: 1px;
} */

.url-styling {
  position: relative; /* Required for positioning of the pseudo-element */
  /* display: inline-block; Ensures the element only takes as much width as needed */
  padding-bottom: 1px;
  border-bottom: 2px solid #D12800; /* Default bottom border */
}

.url-styling::after {
  content: ''; /* Pseudo-element for the animated border line */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #D12800;
  transform: scaleX(0); /* Initially hide the line */
  transform-origin: left; /* Start the animation from the left side */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.url-styling:hover {
  border-bottom: none; /* Hide the default border on hover */
}

.url-styling:hover::after {
  animation: borderMove 2s linear infinite; /* Apply the looping animation on hover */
}

input::placeholder {
  color: #000000; /* Change placeholder color to black */
  font-size: small;
}

select option:hover {
  color: red;
}

select option[value="placeholder"] {
  color: #9ca3af; /* Light gray color for the placeholder */
}

.hover-option:hover {
  color: white;
  background-color: red;
}

@keyframes borderMove {
  0% {
    transform: scaleX(0); /* Start with the line hidden */
    transform-origin: left; /* Start from the left side */
  }
  50% {
    transform: scaleX(1); /* Expand the line to full width */
    transform-origin: left; /* Expanding from the left */
  }
  51% {
    transform: scaleX(1); /* Line is fully visible */
    transform-origin: right; /* Switch the origin to right */
  }
  100% {
    transform: scaleX(0); /* Collapse the line to hidden */
    transform-origin: right; /* Collapse towards the right */
  }
}

.tracking-extra-tight {
  letter-spacing: 0.03em;
}

.drawer {
  box-shadow: 0 0 0 1px rgba(107, 144, 192, 0.15),
    0 4px 8px rgba(89, 97, 104, 0.15), 0 6px 24px 10px rgba(89, 97, 104, 0.2);
}

.SolarSystem .st0 {
  fill: #6d6e71;
}

.SolarSystem .st1 {
  fill: #231f20;
}

.SolarSystem .st2 {
  fill: #58595b;
}

.SolarSystem .st3 {
  fill: #1a96d4;
}

.SolarSystem .st4 {
  fill: #fac313;
}

.SolarSystem .st5 {
  fill: #f26a2b;
}

.SolarSystem .st6 {
  fill: #5bba47;
}

.SolarSystem .st7 {
  fill: #0569b1;
}

.SolarSystem .st8 {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 0.2083;
  stroke-miterlimit: 10;
}

.SolarSystem .st9 {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.SolarSystem .st10 {
  fill: #ffffff;
}

.SolarSystem .st11 {
  fill: #ffffff;
  stroke: #f26a2b;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.SolarSystem .st12 {
  fill: #ffffff;
  stroke: #f26a2b;
  stroke-width: 0.425;
  stroke-miterlimit: 10;
}

.SolarSystem .st13 {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 0.245;
  stroke-miterlimit: 10;
}

.SolarSystem .st14 {
  fill: none;
}

.aspect-video div iframe {
  width: 100%;
}

.dt-framework {
  height: inherit;
  width: 100%;
  overflow: unset;
}

@media (max-width: 710px) {
  .rainbow text {
    font-size: 9px;
    line-height: 1;
  }

  .rainbow h3.text-2xl.font-bold.pointer-events-none {
    font-size: 1.3em;
    margin-top: 8em;
  }

  .rainbow h3.text-2xl.font-semibold.pointer-events-auto {
    font-size: 18px;
    line-height: 1;
  }

  .rainbow p.mt-4.font-semibold.text-xl.pointer-events-none {
    margin: 10px -9vw;
    font-size: 1em;
  }

  .rainbow p.leading-5.mt-1.font-light.tracking-\[0\.01em\] {
    margin: 0 -16vw;
  }
}

.digital-right-bg-color {
  background-color: #d1d6d9;
}

.cookie-bg-color {
  background-color: #0063ac;
}

.dp-text-color {
  color: #484848;
}

.hero-title-size {
  font-size: 36px;
  line-height: 40.95px;
}

.disclaimer-title-size {
  font-size: 55px;
  line-height: 59.95px;
}

.disclaimer-mobile-title-size {
  font-size: 2.5rem;
  line-height: 1.1;
}

.mobile-title-font-size {
  font-size: 2.5rem;
  line-height: 1.1;
}


.button-bg-color {
  background-color: #4F95DD;
}

.heading-title-size {
  font-size: 55px;
  line-height: 59.95px;
}

.hero-content-text-size {
  font-size: 20px;
  line-height: 1.75rem;
  line-height: 1.75rem;
}

.hero-content-text-color {
  color: #000000;
}

.filter-badge-bg-color {
  background-color: #f7f7f7;
  padding: 4px 16px 4px 16px;
  border-radius: 20px;
}

.filter-main-badge-bg-color {
  background-color: #D1D5DB;
  padding: 4px 16px 4px 16px;
  border-radius: 12px;
}

.filter-badge-bg-color:hover {
  background-color: #edeff0;
}

.placeholder-bold-text::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.custom-data-table-style {
  font-size: 16px;
  line-height: 137.5%;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 800; /* Regular weight */
  letter-spacing: 0;
}

.custom-nav-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.header-nav-bg-color {
  background-color: #FAFAFA;
}

.footer-background-color {
  background-color: #006eb5;
}

.MobileMenuSideMenu {
  background-color: rgba(247, 247, 247);
}

@media (max-width: 770px) {
  .rainbow-margin {
    margin-left: 16%;
  }
}

@media (max-width: 400px) {
  .rainbow-margin {
    margin-left: 5%;
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 300px) and (max-width: 770px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 770px) and (max-width: 800px) {
  .container {
    max-width: 100%;
  }
}

.custom-mobile-bg-color {
  background-color: rgba(247, 247, 247);
}

.custom-mobile-menu {
  /* Custom slide-in animation from left to right */
  animation: slide-in-left 0.6s ease-in-out forwards;
}

.custom-mobile-close-menu {
  /* Custom slide-in animation from left to right */
  animation: slide-out-left 0.6s ease-in-out forwards;
}

.custom-side-view {
  /* Custom slide-in animation from right to left */
  animation: slide-in-left 0.6s ease-in-out forwards;
}

.custom-side-view-close {
  /* Custom slide-out animation from right to left */
  animation: slide-out-left 0.6s ease-in-out forwards;
}

.mobile-sub-title{
  padding-top: 48px;
  padding-bottom: 16px;
}

.mobile-main-title-bottom {
  padding-bottom: 12px;
}

.mobile-sub-title-bottom {
  padding-bottom: 12px;
}


.web-main-title-bottom {
  padding-bottom: 32px;
}

.web-sub-title {
  padding-top: 0px;
  padding-bottom: 32px;
}

.web-sub-title-bottom {
  padding-bottom: 32px;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@font-face {
  font-family: "SohneBreitFont";
  src: url("/undp-digital-development-compass/fonts/soehne-breit-web-dreiviertelfett.woff2") format("woff2"),
    url("/undp-digital-development-compass/fonts/soehne-breit-web-dreiviertelfett.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 640px) {
  .heading-mobile-title-size {
    font-size: 40px;
    line-height: 3rem;
  }

  .mobile-main-title {
    padding-top: 72px;
    padding-bottom: 44px;
  }
}

@media (max-width: 480px) {
  .heading-mobile-title-size {
    font-size: 30px;
    line-height: 3rem;
    letter-spacing: 2px;
  }
}


@media (min-width: 640px) and (max-width: 991px) {
  .sideLink {
    width: 100px;
    padding-left: 50px;
    padding-top: 13rem /* 208px */;
    padding-bottom: 13rem /* 208px */;
    top: 26px;
  }
  .viewMenu {
    display: none;
  }

  .web-main-title{
    padding-top: 48px;
    padding-bottom: 16px;
  }

  .download-section-position {
    margin-left: 0px;
    margin-right: 0px;
  }

  .disclaimer-position {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

@media (min-width: 1301px) and (max-width: 1449px) {
  .sideLink {
    width: 300px;
    padding-left: 25px;
    padding-top: 24rem /* 208px */;
    padding-bottom: 13rem /* 208px */;
    top: 230px;
  }

  .Screen1450Size {
    padding-left: 130px;
   }

  .web-main-title{
    padding-top: 48px;
    padding-bottom: 16px;
  }
}

@media (min-width: 1450px) and (max-width: 1500px) {
  .sideLink {
    width: 300px;
    padding-left: 25px;
    padding-top: 13rem /* 208px */;
    padding-bottom: 13rem /* 208px */;
    top: 405px;
  }

  .Screen1450Size {
   padding-left: -110px;
  }
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .sideLink {
    width: 21%;
    padding-left: 25px;
    padding-top: 22rem;
    padding-bottom: 13rem;
    top: 260px;
  }
}

@media (min-width: 1701px) {
  .sideLink {
    width: 20%;
    padding-left: 20px;
    padding-top: 22rem;
    padding-bottom: 13rem;
    top: 260px;
  }
}


@media (max-width: 990px) {
  .disclaimer-text-position {
    text-align: left;
    padding-left : 0px
  }

  text-alignment {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

/* @media (min-width: 990px) {
  .disclaimer-text-position {
    text-align: left;
    padding-left: 6rem
  }
} */

@media (max-width: 1300px) {
  .sideMenuBarMobile {
    display: block;
  }
  .sideMenuBar {
    display: none;
  }
}

/* Show SideMenuBar on screens 990px and larger */
@media (min-width: 1301px) {
  .sideMenuBarMobile {
    display: none;
  }
  .sideMenuBar {
    display: block;
  }
}

@media (max-width: 1300px) {
  .about-under-line {
    z-index: -10;
  }
}

@media (min-width: 769px ) {
   .rainbow-mobile {
      display: none;
   }
   .rainbow-web {
    display: block;
 }
}


.header-scrolled {
  width: 57px;
}

.header-scrolled-mobile {
  height: 82px;
  /* top: 4px; */
}

